extends layout
block content
    div
        h1.mb-5 Cargar presupuesto de trabajo 
        form#miFormulario( action="/cargar" method="POST" enctype="application/x-www-form-urlencoded")
            div(class="col-auto")
                label(for="precioMaximo") Tipo:
                select#tipos( name="tipos" class="form-select" aria-label="Default select example")
                    each tipo in data
                        option(value=`${tipo.id_tipo}`)= tipo.nombre
            div(class="col-auto")
                label(for="Trabajo") Trabajo:
                input(class="form-control" type="text" id="trabajo" name="nombre" required)
            
            div(class="col-auto")
                label(for="precioMinimo") Precio Mínimo:
                input(class="form-control" type="number" id="precioMinimo" name="precioMinimo" required)
            
            div(class="col-auto")
                label(for="precioMaximo") Precio Máximo
                input(class="form-control" type="number" id="precioMaximo" name="precioMaximo" required)
            
            div(class="col-auto")
                label(for="Unidad") Unidad de Medida:
                select#unidades(name="unidades" class="form-select" aria-label="Default select example")
                    option(selected)
                    option(value="M2") M2
                    option(value="ML") ML
                    option(value="UNIDAD") UNIDAD
                    option(value="CAN") CAN
                    option(value="GRAL") GRAL
            br
            div(class="col-auto")
                input(type="submit", value="Cargar")#enviar.btn.btn-success
                a.btn.btn-danger.ms-5(href="/")  Volver