extends layout
    h1 Presupuesto de trabajo 
    br

    form#miFormulario( action="#")
        div(class="col-auto")
            label(for="nombre") Trabajo:
            input(class="form-control" type="text" id="nombre" name="nombre" required)
        
        div(class="col-auto")
            label(for="precioMinimo") Precio mínimo:
            input(class="form-control" type="number" id="precioMinimo" name="precioMinimo" step="0.01" required)
        
        div(class="col-auto")
            label(for="unidadMedida") Precio máximo
            input(class="form-control" type="number" id="unidadMedida" name="unidadMedida" required)
        
        div(class="col-auto")
            label(for="precioMaximo") Unidad de medida:
            select(class="form-select" aria-label="Default select example")
                option(selected) selecciona la medida
                option(value="1") M2
                option(value="2") ML
                option(value="3") Unidad
                option(value="4") CAN
                option(value="5") GRAL
        br
        div(class="col-auto")
            button(class="btn btn-success" id="btnSubmit" type="submit") Guardar
        
        
    
