body{
    color: white;
    background-color: rgba(7, 50, 114, 0.877);
}
#miFormulario{
    width: 50%;
}
a{
    text-decoration: none;
}
#titulo{
    font-size: 5rem;
    margin-top: 20%;
}
#tituloIndex{
    font-size: 5rem;
}
#error{
    display: block;
    font-size: 8rem;
    color: darkred;
    text-align: center;
}